# Scanner libraries
python-nmap
scapy

# Database (standard library - no pip install needed):
# sqlite3
# datetime
# typing

# CVE API querying
requests

db-sqlite3
# Reporting
reportlab

# CLI Parsing and Colors
colorama
